.idea/
.ipynb_checkpoints/
.vscode/
venv/
Feature_extraction.pyc
main.pyc
trainer.pyc
faizann_urldata.csv
2016_DetectingMaliciousURLs_CISDA.pdf
faizan_model.ipynb
*.pyc
tp.py
sample.txt
1701.07179.pdf
dataset/new_dataset.csv
papers